@inherits LayoutComponentBase

<div class="main-layout">
   

    <nav>
        <ul>
            <li><a href="/sammenligner">Sammenligner</a></li>
        </ul>
    </nav>

    <div class="content">
        <main>
            <article class="page">
                @Body
            </article>
        </main>
    </div>

</div>

@code {
    // Add your code here if needed
}
